*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea/
META-INF/
target/
# Package Files #
*.jar
*.war
*.ear
SdutOA.iml


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

将删除 .idea/dataSources.local.xml
将删除 src/main/webapp/plugins/UEditor/jsp/lib/
将删除 src/main/webapp/upload/
